# UTC date and timezone
Local date, offset , and timezone

### Datetime

In [1]:
import pandas as pd 
col = pd.Series(['2024-12-26 08:00:00+00:00',
                '2024-12-26 08:30:00+00:00',
                '2024-12-26 09:00:00+00:00',
                '2024-12-26 09:30:00+00:00',
                '2024-12-26 10:00:00+00:00',
                '2024-12-26 10:30:00+00:00',
                '2024-12-26 06:00:00+00:00',
                '2024-12-26 06:30:00+00:00',
                '2024-12-26 07:00:00+00:00',
                '2024-12-26 07:30:00+00:00'])

In [3]:
utc_s = pd.to_datetime(col, utc=True)
utc_s

0   2024-12-26 08:00:00+00:00
1   2024-12-26 08:30:00+00:00
2   2024-12-26 09:00:00+00:00
3   2024-12-26 09:30:00+00:00
4   2024-12-26 10:00:00+00:00
5   2024-12-26 10:30:00+00:00
6   2024-12-26 06:00:00+00:00
7   2024-12-26 06:30:00+00:00
8   2024-12-26 07:00:00+00:00
9   2024-12-26 07:30:00+00:00
dtype: datetime64[ns, UTC]

In [4]:
utc_s.dt.tz_convert('America/Denver')

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [5]:
s = pd.Series(['2024-12-26 01:00:00-07:00',
'2024-12-26 01:30:00-07:00',
'2024-12-26 02:00:00-07:00',
'2024-12-26 02:30:00-07:00',
'2024-12-26 03:00:00-07:00',
'2024-12-26 03:30:00-07:00',
'2024-12-25 23:00:00-07:00',
'2024-12-25 23:30:00-07:00',
'2024-12-26 00:00:00-07:00',
'2024-12-26 00:30:00-07:00'])

In [6]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [22]:
time = pd.Series(['2023-01-01 12:00:00', '2023-01-02 13:00:00', '2023-01-03 14:00:00'])

In [32]:
offset = pd.Series([-7,-7,-7,-7,-7,-6,-6,-6,-6,-6,-6,-6,-7,-7,-7,-7,-7,-7])

In [28]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
               .dt.tz_convert('America/Denver'))
)

0   2023-01-01 05:00:07-07:00
1   2023-01-02 06:00:07-07:00
2   2023-01-03 07:00:07-07:00
dtype: datetime64[ns, America/Denver]

In [34]:
offset = offset.replace({-7:'-07:00',-6:'-06:00'})

In [18]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_convert('America/Denver') 
                     if s.dt.tz is not None 
                     else s.dt.tz_localize(s.name).dt.tz_convert('America/Denver'))
)

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [36]:
local = (pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name).dt.tz_convert('America/Denver'))
)

In [37]:
local

0   2023-01-01 12:00:00-07:00
1   2023-01-02 13:00:00-07:00
2   2023-01-03 14:00:00-07:00
dtype: datetime64[ns, America/Denver]

### Converting local time to UTC

In [38]:
local.dt.tz_convert('UTC')

0   2023-01-01 19:00:00+00:00
1   2023-01-02 20:00:00+00:00
2   2023-01-03 21:00:00+00:00
dtype: datetime64[ns, UTC]

### Converting to Epochs

In [40]:
secs = local.astype(int).floordiv(1e9).astype(int)

In [41]:
secs

0    1672599600
1    1672689600
2    1672779600
dtype: int64

In [42]:
(pd.to_datetime(secs, unit='s')
    .dt.tz_localize('UTC'))

0   2023-01-01 19:00:00+00:00
1   2023-01-02 20:00:00+00:00
2   2023-01-03 21:00:00+00:00
dtype: datetime64[ns, UTC]

### Manipulating Dates

In [43]:
url = 'https://github.com/arunadas/effective-pandas/raw/main/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)
dates = pd.to_datetime(alta_df.DATE)
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

In [45]:
dates.dt.day_name('es_ES')

0           Martes
1        Miércoles
2           Jueves
3          Viernes
4           Sábado
           ...
14155       Martes
14156    Miércoles
14157       Jueves
14158      Viernes
14159       Sábado
Name: DATE, Length: 14160, dtype: object

In [47]:
# properties vs method
dates.dt.is_month_end

0        False
1        False
2        False
3        False
4        False
         ...
14155    False
14156    False
14157    False
14158    False
14159    False
Name: DATE, Length: 14160, dtype: bool

In [48]:
dates.dt.strftime('%d/%m/%y')

0        01/01/80
1        02/01/80
2        03/01/80
3        04/01/80
4        05/01/80
           ...
14155    03/09/19
14156    04/09/19
14157    05/09/19
14158    06/09/19
14159    07/09/19
Name: DATE, Length: 14160, dtype: object

### Exercise 12.8

In [54]:
# convert a column with dates information to a date
dates = pd.Series(['2024-12-27 08:00:00','2024-12-27 08:30:00','2024-12-27 09:00:00'])
dates = pd.to_datetime(dates)
dates

0   2024-12-27 08:00:00
1   2024-12-27 08:30:00
2   2024-12-27 09:00:00
dtype: datetime64[ns]