# UTC date and timezone
Local date, offset , and timezone

### Datetime

In [1]:
import pandas as pd 
col = pd.Series(['2024-12-26 08:00:00+00:00',
                '2024-12-26 08:30:00+00:00',
                '2024-12-26 09:00:00+00:00',
                '2024-12-26 09:30:00+00:00',
                '2024-12-26 10:00:00+00:00',
                '2024-12-26 10:30:00+00:00',
                '2024-12-26 06:00:00+00:00',
                '2024-12-26 06:30:00+00:00',
                '2024-12-26 07:00:00+00:00',
                '2024-12-26 07:30:00+00:00'])

In [3]:
utc_s = pd.to_datetime(col, utc=True)
utc_s

0   2024-12-26 08:00:00+00:00
1   2024-12-26 08:30:00+00:00
2   2024-12-26 09:00:00+00:00
3   2024-12-26 09:30:00+00:00
4   2024-12-26 10:00:00+00:00
5   2024-12-26 10:30:00+00:00
6   2024-12-26 06:00:00+00:00
7   2024-12-26 06:30:00+00:00
8   2024-12-26 07:00:00+00:00
9   2024-12-26 07:30:00+00:00
dtype: datetime64[ns, UTC]

In [4]:
utc_s.dt.tz_convert('America/Denver')

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [5]:
s = pd.Series(['2024-12-26 01:00:00-07:00',
'2024-12-26 01:30:00-07:00',
'2024-12-26 02:00:00-07:00',
'2024-12-26 02:30:00-07:00',
'2024-12-26 03:00:00-07:00',
'2024-12-26 03:30:00-07:00',
'2024-12-25 23:00:00-07:00',
'2024-12-25 23:30:00-07:00',
'2024-12-26 00:00:00-07:00',
'2024-12-26 00:30:00-07:00'])

In [6]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [22]:
time = pd.Series(['2023-01-01 12:00:00', '2023-01-02 13:00:00', '2023-01-03 14:00:00'])

In [32]:
offset = pd.Series([-7,-7,-7,-7,-7,-6,-6,-6,-6,-6,-6,-6,-7,-7,-7,-7,-7,-7])

In [28]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
               .dt.tz_convert('America/Denver'))
)

0   2023-01-01 05:00:07-07:00
1   2023-01-02 06:00:07-07:00
2   2023-01-03 07:00:07-07:00
dtype: datetime64[ns, America/Denver]

In [34]:
offset = offset.replace({-7:'-07:00',-6:'-06:00'})

In [18]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_convert('America/Denver') 
                     if s.dt.tz is not None 
                     else s.dt.tz_localize(s.name).dt.tz_convert('America/Denver'))
)

0   2024-12-26 01:00:00-07:00
1   2024-12-26 01:30:00-07:00
2   2024-12-26 02:00:00-07:00
3   2024-12-26 02:30:00-07:00
4   2024-12-26 03:00:00-07:00
5   2024-12-26 03:30:00-07:00
6   2024-12-25 23:00:00-07:00
7   2024-12-25 23:30:00-07:00
8   2024-12-26 00:00:00-07:00
9   2024-12-26 00:30:00-07:00
dtype: datetime64[ns, America/Denver]

In [36]:
local = (pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name).dt.tz_convert('America/Denver'))
)

In [37]:
local

0   2023-01-01 12:00:00-07:00
1   2023-01-02 13:00:00-07:00
2   2023-01-03 14:00:00-07:00
dtype: datetime64[ns, America/Denver]

### Converting local time to UTC

In [38]:
local.dt.tz_convert('UTC')

0   2023-01-01 19:00:00+00:00
1   2023-01-02 20:00:00+00:00
2   2023-01-03 21:00:00+00:00
dtype: datetime64[ns, UTC]

### Converting to Epochs

In [40]:
secs = local.astype(int).floordiv(1e9).astype(int)

In [41]:
secs

0    1672599600
1    1672689600
2    1672779600
dtype: int64

In [42]:
(pd.to_datetime(secs, unit='s')
    .dt.tz_localize('UTC'))

0   2023-01-01 19:00:00+00:00
1   2023-01-02 20:00:00+00:00
2   2023-01-03 21:00:00+00:00
dtype: datetime64[ns, UTC]

### Manipulating Dates

In [43]:
url = 'https://github.com/arunadas/effective-pandas/raw/main/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)
dates = pd.to_datetime(alta_df.DATE)
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

In [45]:
dates.dt.day_name('es_ES')

0           Martes
1        Miércoles
2           Jueves
3          Viernes
4           Sábado
           ...
14155       Martes
14156    Miércoles
14157       Jueves
14158      Viernes
14159       Sábado
Name: DATE, Length: 14160, dtype: object

In [47]:
# properties vs method
dates.dt.is_month_end

0        False
1        False
2        False
3        False
4        False
         ...
14155    False
14156    False
14157    False
14158    False
14159    False
Name: DATE, Length: 14160, dtype: bool

In [48]:
dates.dt.strftime('%d/%m/%y')

0        01/01/80
1        02/01/80
2        03/01/80
3        04/01/80
4        05/01/80
           ...
14155    03/09/19
14156    04/09/19
14157    05/09/19
14158    06/09/19
14159    07/09/19
Name: DATE, Length: 14160, dtype: object

### Exercise 12.8

In [54]:
# convert a column with dates information to a date
dates = pd.Series(['2024-12-27 08:00:00','2024-12-27 08:30:00','2024-12-27 09:00:00'])
dates = pd.to_datetime(dates)
dates

0   2024-12-27 08:00:00
1   2024-12-27 08:30:00
2   2024-12-27 09:00:00
dtype: datetime64[ns]

Feature	.dt.tz_localize()	.dt.tz_convert()
Input type	Naive datetime (no timezone)	Timezone-aware datetime
Output type	Timezone-aware datetime	Timezone-aware datetime
What it does	Assigns a timezone to naive datetimes	Converts from one timezone to another
Error on incorrect input	Raises an error if already timezone-aware	Raises an error if timezone-naive

In [57]:
# convert a date column into UTC dates
dates.dt.tz_localize('UTC')

0   2024-12-27 08:00:00+00:00
1   2024-12-27 08:30:00+00:00
2   2024-12-27 09:00:00+00:00
dtype: datetime64[ns, UTC]

In [65]:
# convert a date column into local dates with a timezone
import pandas as pd
dates = pd.Series(['2024-12-27 08:00:00-05:00','2024-12-27 08:30:00-05:00','2024-12-27 09:00:00-05:00'])
dates = pd.to_datetime(dates)
dates

0   2024-12-27 08:00:00-05:00
1   2024-12-27 08:30:00-05:00
2   2024-12-27 09:00:00-05:00
dtype: datetime64[ns, UTC-05:00]

In [76]:
# convert a date column into epoch values , this converts into UTC epoch values is likely because pd.to_datetime 
# automatically converts the timezone-aware strings (-05:00) to UTC
secs = dates.astype('int64')//10**9
secs

0    1735304400
1    1735306200
2    1735308000
dtype: int64

In [77]:
# convert an epoch number into UTC
pd.to_datetime(secs, unit='s').dt.tz_localize('UTC')

0   2024-12-27 13:00:00+00:00
1   2024-12-27 13:30:00+00:00
2   2024-12-27 14:00:00+00:00
dtype: datetime64[ns, UTC]

### Dates in the index

In [88]:
url = 'https://github.com/arunadas/effective-pandas/raw/main/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)
dates = pd.to_datetime(alta_df.DATE)
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

In [90]:
alta_df.SNOW

0        2.0
1        3.0
2        1.0
3        0.0
4        0.0
        ...
14155    0.0
14156    0.0
14157    0.0
14158    0.0
14159    0.0
Name: SNOW, Length: 14160, dtype: float64

In [91]:
snow = (alta_df
        .SNOW
        .rename(dates)
       )
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

### Finding Missing Dates

In [86]:
snow.isna().any()

np.True_

In [87]:
snow[snow.isna()]

1985-07-30   NaN
1985-09-12   NaN
1985-09-19   NaN
1986-02-07   NaN
1986-06-26   NaN
              ..
2017-04-26   NaN
2017-09-20   NaN
2017-10-02   NaN
2017-12-23   NaN
2018-12-03   NaN
Name: SNOW, Length: 365, dtype: float64

In [92]:
# loc partial date string indexing attribute
snow.loc['1985-09':'1985-09-20']

1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
1985-09-06    0.0
1985-09-07    0.0
1985-09-08    0.0
1985-09-09    0.0
1985-09-10    0.0
1985-09-11    0.0
1985-09-12    NaN
1985-09-13    0.0
1985-09-14    0.0
1985-09-15    0.0
1985-09-16    0.0
1985-09-17    0.0
1985-09-18    0.0
1985-09-19    NaN
1985-09-20    0.0
Name: SNOW, dtype: float64

### Filling in Missing Data

In [96]:
(
    snow
        .loc['1985-09':'1985-09-20']
        .fillna(0)
)

1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
1985-09-06    0.0
1985-09-07    0.0
1985-09-08    0.0
1985-09-09    0.0
1985-09-10    0.0
1985-09-11    0.0
1985-09-12    0.0
1985-09-13    0.0
1985-09-14    0.0
1985-09-15    0.0
1985-09-16    0.0
1985-09-17    0.0
1985-09-18    0.0
1985-09-19    0.0
1985-09-20    0.0
Name: SNOW, dtype: float64

In [97]:
snow.loc['1987-12-30':'1988-01-10']

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    NaN
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    NaN
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

In [100]:
#forward fill and backward fill
(snow.loc['1987-12-30':'1988-01-10'].ffill())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    5.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    0.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

In [99]:
(snow.loc['1987-12-30':'1988-01-10'].bfill())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    0.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    2.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

In [101]:
(snow.loc['1987-12-30':'1988-01-10'].interpolate())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    2.5
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    1.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

In [104]:
winter = (snow.index.quarter == 1) | (snow.index.quarter == 4)

In [108]:
(
    snow 
    .where(~(winter & snow.isna()), snow.interpolate())
    .where(~(~winter & snow.isna()), 0)
)

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [107]:
#validate where ( condition,other)
(
    snow 
    .where(~(winter & snow.isna()), snow.interpolate())
    .where(~(~winter & snow.isna()), 0)
    .loc[['1985-09-19','1988-01-01']]
)

1985-09-19    0.0
1988-01-01    2.5
Name: SNOW, dtype: float64

In [109]:
# Dropping missing values
(
    snow
    .loc['1987-12-30':'1988-01-10']
    .dropna()
)

1987-12-30    6.0
1987-12-31    5.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

### Shifting data

In [112]:
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [110]:
snow.shift(1)

1980-01-01    NaN
1980-01-02    2.0
1980-01-03    3.0
1980-01-04    1.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [111]:
snow.shift(-1)

1980-01-01    3.0
1980-01-02    1.0
1980-01-03    0.0
1980-01-04    0.0
1980-01-05    1.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    NaN
Name: SNOW, Length: 14160, dtype: float64

### Rolling Average

In [114]:
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [118]:
# 5 day moving average
(
    snow
     .add(snow.shift(1))
     .add(snow.shift(2))
     .add(snow.shift(3))
     .add(snow.shift(4))
    .div(5)
)

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    1.2
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [119]:
(
    snow
    .rolling(5)
    .mean()
)

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    1.2
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

### Resampling

In [123]:
(
    snow
    .resample('2ME')
    .max()
)

1980-01-31    20.0
1980-03-31    25.0
1980-05-31    10.0
1980-07-31     1.0
1980-09-30     0.0
              ...
2019-01-31    19.0
2019-03-31    20.7
2019-05-31    18.0
2019-07-31     0.0
2019-09-30     0.0
Freq: 2ME, Name: SNOW, Length: 239, dtype: float64

In [125]:
(
    snow
    .resample('YE-MAY')
    .max()
)

1980-05-31    25.0
1981-05-31    26.0
1982-05-31    34.0
1983-05-31    38.0
1984-05-31    25.0
1985-05-31    22.0
1986-05-31    34.0
1987-05-31    16.0
1988-05-31    23.0
1989-05-31    30.0
1990-05-31    32.0
1991-05-31    28.0
1992-05-31    22.0
1993-05-31    30.0
1994-05-31    36.0
1995-05-31    25.0
1996-05-31    34.0
1997-05-31    22.0
1998-05-31    29.0
1999-05-31    26.0
2000-05-31    23.0
2001-05-31    19.0
2002-05-31    28.0
2003-05-31    14.0
2004-05-31    24.0
2005-05-31    31.0
2006-05-31    27.0
2007-05-31    15.0
2008-05-31    21.0
2009-05-31    23.0
2010-05-31    32.0
2011-05-31    22.0
2012-05-31    18.0
2013-05-31    19.0
2014-05-31    11.0
2015-05-31    25.0
2016-05-31    15.0
2017-05-31    26.0
2018-05-31    21.8
2019-05-31    20.7
2020-05-31     0.0
Freq: YE-MAY, Name: SNOW, dtype: float64

### Gathering aggregate values ( But keeping index )

In [128]:
(
    snow
    .div(snow
         .resample('QE')
         .transform('sum'))
    .mul(100)
    .fillna(0)
)

1980-01-01    0.527009
1980-01-02    0.790514
1980-01-03    0.263505
1980-01-04    0.000000
1980-01-05    0.000000
                ...
2019-09-03    0.000000
2019-09-04    0.000000
2019-09-05    0.000000
2019-09-06    0.000000
2019-09-07    0.000000
Name: SNOW, Length: 14160, dtype: float64

In [129]:
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [131]:
snow.resample('QE').transform('sum')

1980-01-01    379.5
1980-01-02    379.5
1980-01-03    379.5
1980-01-04    379.5
1980-01-05    379.5
              ...
2019-09-03      0.0
2019-09-04      0.0
2019-09-05      0.0
2019-09-06      0.0
2019-09-07      0.0
Name: SNOW, Length: 14160, dtype: float64

In [133]:
# compute the percentage of a season snowfall that fell during each month
season2017 = snow.loc['2016-10':'2017-05']
(
    season2017
    .resample('ME')
    .sum()
    .div(season2017
         .sum())
    .mul(100)
)

2016-10-31     2.153969
2016-11-30     9.772637
2016-12-31    15.715995
2017-01-31    25.468688
2017-02-28    21.041085
2017-03-31     9.274033
2017-04-30    14.738732
2017-05-31     1.834862
Freq: ME, Name: SNOW, dtype: float64

In [140]:
# Group by operations
def season(idx):
    year = idx.year
    month = idx.month
    return year if month < 10 else year+1

In [141]:
(
    snow
    .groupby(season)
    .sum()
)

1980    457.5
1981    503.0
1982    842.5
1983    807.5
1984    816.0
1985    536.0
1986    740.8
1987    243.1
1988    314.5
1989    429.5
1990    331.5
1991    504.7
1992    340.8
1993    683.5
1994    321.0
1995    645.0
1996    525.5
1997    563.6
1998    579.6
1999    435.7
2000    453.0
2001    468.0
2002    457.8
2003    365.4
2004    514.0
2005    472.0
2006    594.6
2007    319.7
2008    606.0
2009    476.8
2010    391.0
2011    533.8
2012    293.5
2013    362.8
2014    358.7
2015    284.3
2016    354.6
2017    524.0
2018    308.8
2019    504.5
Name: SNOW, dtype: float64

In [143]:
(
    snow
    .resample('YE-SEP')
    .sum()
)

1980-09-30    457.5
1981-09-30    503.0
1982-09-30    842.5
1983-09-30    807.5
1984-09-30    816.0
1985-09-30    536.0
1986-09-30    740.8
1987-09-30    243.1
1988-09-30    314.5
1989-09-30    429.5
1990-09-30    331.5
1991-09-30    504.7
1992-09-30    340.8
1993-09-30    683.5
1994-09-30    321.0
1995-09-30    645.0
1996-09-30    525.5
1997-09-30    563.6
1998-09-30    579.6
1999-09-30    435.7
2000-09-30    453.0
2001-09-30    468.0
2002-09-30    457.8
2003-09-30    365.4
2004-09-30    514.0
2005-09-30    472.0
2006-09-30    594.6
2007-09-30    319.7
2008-09-30    606.0
2009-09-30    476.8
2010-09-30    391.0
2011-09-30    533.8
2012-09-30    293.5
2013-09-30    362.8
2014-09-30    358.7
2015-09-30    284.3
2016-09-30    354.6
2017-09-30    524.0
2018-09-30    308.8
2019-09-30    504.5
Freq: YE-SEP, Name: SNOW, dtype: float64

### cumulative operations

In [144]:
(
    snow
    .loc['2016-10':'2017-09']
    .cumsum()
)

2016-10-01      0.0
2016-10-02      0.0
2016-10-03      4.9
2016-10-04      4.9
2016-10-05      5.5
              ...
2017-09-26    524.0
2017-09-27    524.0
2017-09-28    524.0
2017-09-29    524.0
2017-09-30    524.0
Name: SNOW, Length: 364, dtype: float64

In [145]:
(snow
 .resample('YE-SEP')
 .transform('cumsum')   
)

1980-01-01      2.0
1980-01-02      5.0
1980-01-03      6.0
1980-01-04      6.0
1980-01-05      6.0
              ...
2019-09-03    504.5
2019-09-04    504.5
2019-09-05    504.5
2019-09-06    504.5
2019-09-07    504.5
Name: SNOW, Length: 14160, dtype: float64

### Exercise 13.12

In [162]:
# 1. convert a column with date information to a date
date = pd.date_range(start='2024-12-12', periods=10, freq='D')
dates = pd.Series(data=date)
dates

0   2024-12-12
1   2024-12-13
2   2024-12-14
3   2024-12-15
4   2024-12-16
5   2024-12-17
6   2024-12-18
7   2024-12-19
8   2024-12-20
9   2024-12-21
dtype: datetime64[ns]

In [170]:
# 2. put the date information into the index for a numeric value
value = [1,3,5,2,1,6,4,7,3,2]
dates = pd.Series(data=value, index=date)
# Replace a specific date
#dates = dates.replace(pd.Timestamp('2024-12-13'), pd.Timestamp('2025-01-15'))

# Replace a specific index date
dates.index = dates.index.map(lambda x: pd.Timestamp('2025-01-15') if x == pd.Timestamp('2024-12-13') else x)
dates.index = dates.index.map(lambda x: pd.Timestamp('2025-03-15') if x == pd.Timestamp('2024-12-15') else x)
dates.index = dates.index.map(lambda x: pd.Timestamp('2025-02-15') if x == pd.Timestamp('2024-12-14') else x)
dates

2024-12-12    1
2025-01-15    3
2025-02-15    5
2025-03-15    2
2024-12-16    1
2024-12-17    6
2024-12-18    4
2024-12-19    7
2024-12-20    3
2024-12-21    2
dtype: int64

In [171]:
# 3 calculate the average value of the column for each month
(dates
 .resample('ME')
 .mean()
)

2024-12-31    3.428571
2025-01-31    3.000000
2025-02-28    5.000000
2025-03-31    2.000000
Freq: ME, dtype: float64

In [172]:
# 3 calculate the average value of the column for every 2 months
(dates
 .resample('2ME')
 .mean()
)

2024-12-31    3.428571
2025-02-28    4.000000
2025-04-30    2.000000
Freq: 2ME, dtype: float64