In [7]:
import pandas
#pandas.show_versions()

In [9]:
series ={
    'index' : [0,1,2,3],
    'data' : [145, 142, 38, 13],
    'name' : 'songs'
}

In [10]:
def get(series , idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [11]:
get(series, 1)

142

In [20]:
get(series,3)

13

In [14]:
series['index'].index(2)

2

In [17]:
print('testing')

testing

In [18]:
songs ={
    'index' : ['Paul','John','Aruna','Jisha'],
    'data' : [145, 142, 38, 13],
    'name' : 'counts'
}

In [19]:
get(songs, 'Aruna')

38

In [22]:
value_idx = songs['index'].index('Aruna')
print(value_idx)

2

In [24]:
# create series obj from list
import pandas as pd
songs2 = pd.Series([145, 142, 38, 13],
                   name = 'counts')

In [25]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [26]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
songs3 = pd.Series([145, 142, 38, 13],
          name = 'counts',
          index = ['Paul','John','Aruna','Jisha'])

In [29]:
songs3

Paul     145
John     142
Aruna     38
Jisha     13
Name: counts, dtype: int64

In [30]:
songs3.index

Index(['Paul', 'John', 'Aruna', 'Jisha'], dtype='object')

In [33]:
class Foo:
    pass

In [35]:
ringo = pd.Series(
    ['Richard', 'Starkey' , 12 , Foo()],
    name = 'ringo' )

In [36]:
ringo

0                                 Richard
1                                 Starkey
2                                      12
3    <__main__.Foo object at 0x123554880>
Name: ringo, dtype: object

In [38]:
# NAN value 
import numpy as np 
nan_series = pd.Series([ 2, np.nan ],
                       index = ['ono', 'Clapton'])

In [39]:
nan_series

ono        2.0
Clapton    NaN
dtype: float64

In [40]:
nan_series.count()

1

In [41]:
nan_series.size

2

In [42]:
nan_series2 = pd.Series([2, None],
                        index = ['one', 'Clapton'])

In [43]:
nan_series2

one        2.0
Clapton    NaN
dtype: float64

In [44]:
nan_series3 = pd.Series([2, None],
                        index = ['one', 'Clapton'],
                       dtype = 'Int64')

In [45]:
nan_series3

one           2
Clapton    <NA>
dtype: Int64

In [46]:
nan_series3.count()

1

In [47]:
nan_series.size

2

In [48]:
nan_series2.astype('Int64')

one           2
Clapton    <NA>
dtype: Int64

In [62]:
import numpy as np
numpy_ser = np.array([145, 142, 38, 13])

In [63]:
numpy_ser[1]

142

In [64]:
songs3[1]

/var/folders/lf/9dmpmmvj1qj24tjd2m294pj80000gp/T/ipykernel_60577/248743854.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  songs3[1]

142

In [65]:
songs3.mean()

84.5

In [66]:
numpy_ser.mean()

84.5

In [67]:
mask = songs3 > songs3.median()

In [68]:
mask

Paul      True
John      True
Aruna    False
Jisha    False
Name: counts, dtype: bool

In [69]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [71]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

#categorical data use less memory than strings 
# improve performance
# can have ordering 
# can perform operations on categories 
# enforce membership on values

In [72]:
s = pd.Series(['m','l' , 'xs', 's' , 'xl'], dtype = 'category')

In [73]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [74]:
s.cat.ordered

False

In [75]:
s2 = pd.Series(['m','l' , 'xs', 's' , 'xl'])

In [79]:
size_type = pd.api.types.CategoricalDtype(
             categories = ['s','m','l'], ordered=True)

In [80]:
s3 = s2.astype(size_type)

In [81]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [86]:
s3 >= 's'

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [89]:
s.cat.reorder_categories(['xs','s','m','l','xl'],
                         ordered = True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [90]:
# Exercise 4.8 
# Q1 create series with temp values for lat 7 days , filter out the values below the mean

In [91]:
t = pd.Series([23,12, 9, 45, 76, 4, 89])

In [92]:
t

0    23
1    12
2     9
3    45
4    76
5     4
6    89
dtype: int64

In [94]:
 mask = t < t.mean()

In [95]:
t[mask]

0    23
1    12
2     9
5     4
dtype: int64

In [96]:
t[t<t.mean()]

0    23
1    12
2     9
5     4
dtype: int64

In [97]:
# create series with your favorite colors . Use a categorical type

In [100]:
c = pd.Series(['red','amber','violet'], dtype = 'category')

In [101]:
c

0       red
1     amber
2    violet
dtype: category
Categories (3, object): ['amber', 'red', 'violet']

In [104]:
c.cat.reorder_categories(['red','amber','violet'], ordered = True)

0       red
1     amber
2    violet
dtype: category
Categories (3, object): ['red' < 'amber' < 'violet']