In [1]:
import pandas as pd 
url = 'https://github.com/arunadas/effective-pandas/raw/main/data/vehicles.csv.zip'
df = pd.read_csv(url,dtype='unicode')
city_mpg = df.city08.astype(int)
highway_mpg = df.highway08.astype(int)
make = df.make

In [2]:
city_mpg.head()

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int64

In [3]:
make.head()

0    Alfa Romeo
1       Ferrari
2         Dodge
3         Dodge
4        Subaru
Name: make, dtype: object

In [14]:
a = make.to_dict()
for k, v in list(a.items())[:5]:
    print(k,v)
city2 = city_mpg.rename(make.to_dict())
city2.head()
list(a.items())[:5]

0 Alfa Romeo
1 Ferrari
2 Dodge
3 Dodge
4 Subaru

[(0, 'Alfa Romeo'), (1, 'Ferrari'), (2, 'Dodge'), (3, 'Dodge'), (4, 'Subaru')]

In [15]:
#.rename method accepts series, scalar
import pandas as pd
test = pd.Series(['Dave','Suzy','Adam','Liv'])
test

0    Dave
1    Suzy
2    Adam
3     Liv
dtype: object

In [16]:
test.rename(index={0:'first'})

first    Dave
1        Suzy
2        Adam
3         Liv
dtype: object

In [18]:
def to_str(val):
    return f"idx-{val}"
    
test.rename(to_str)

idx-0    Dave
idx-1    Suzy
idx-2    Adam
idx-3     Liv
dtype: object

In [20]:
s2 = pd.Series(['a','b','c','d'])
test.rename(index=s2)

a    Dave
b    Suzy
c    Adam
d     Liv
dtype: object

In [21]:
#passing a scalar value will change only .name attribute index will remain the same
test.rename(index='first')

0    Dave
1    Suzy
2    Adam
3     Liv
Name: first, dtype: object