#Aggregate methods

In [9]:
import pandas as pd 
#url = 'https://github.com/arunadas/effective-pandas/raw/master/data/vehicles.csv.zip'
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
#url = 'https://github.com/arunadas/effective-pandas/tree/main/data/vehicles.csv'
df = pd.read_csv(url,dtype='unicode')
city_mpg = df.city08
highway_mpg = df.highway08

In [10]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

In [11]:
city_mpg.astype(int).mean()

np.float64(18.369045304297103)

In [12]:
city_mpg = city_mpg.astype(int)

In [6]:
city_mpg.mean()

np.float64(18.369045304297103)

In [7]:
mean_value = city_mpg.mean()

In [8]:
type(mean_value)

numpy.float64

In [9]:
mean_value = float(city_mpg.mean())

In [11]:
type(mean_value)

float

In [12]:
mean_value

18.369045304297103

In [13]:
city_mpg.is_unique

False

In [14]:
city_mpg.is_monotonic_increasing

False

In [15]:
city_mpg.quantile()

np.float64(17.0)

In [16]:
city_mpg.quantile(.9)

np.float64(24.0)

In [17]:
city_mpg.quantile([.1,.5,.9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

#Count and mean of an attribute

In [21]:
city_mpg.gt(20).sum()

np.int64(10272)

In [5]:
city_mpg.gt(20).mul(100).mean()

np.float64(24.965973167412017)

In [7]:
import numpy as np 
def second_to_last(s):
       return s.iloc[-2]

In [21]:
city_agg = city_mpg.agg(['mean', 'var', 'max', second_to_last])

In [22]:
city_agg

mean               18.369045
var                62.503036
max               150.000000
second_to_last     18.000000
Name: city08, dtype: float64

#Exercise 7.5
Make a dataset
1) Find the count of non-missing values of a series.
2) Find the number of entries of a series.
3) Find the number of unique entries of a series.
4) Find the mean value of a series.
5) Find the maximum value of a series.
6) Use the .agg method to find all the above.

In [44]:
import pandas as pd
cal_temp = pd.Series([12,3,3,None,2],
    name = 'temp'
)

In [45]:
print(cal_temp)

0    12.0
1     3.0
2     3.0
3     NaN
4     2.0
Name: temp, dtype: float64

In [42]:
#Find the count of non-missing values of a series.
cal_temp.count()

np.int64(4)

In [43]:
#Find the number of entries of a series.
cal_temp.size

5

In [46]:
#Find the number of unique entries of a series.
cal_temp.nunique()

3

In [50]:
#Find the mean value of a series.
cal_temp.mean()

np.float64(5.0)

In [51]:
#Find the maximum value of a series.
cal_temp.max()

np.float64(12.0)

In [53]:
cal_temp.agg(['count','size','nunique','mean','max'])

count       4.0
size        5.0
nunique     3.0
mean        5.0
max        12.0
Name: temp, dtype: float64