### Dataframes

In [9]:
#python version 
df = {
    'index' : [0,1,2],
    'cols' : [
        {
            'name':'growth',
            'data':[.5,.7,1.2]},
        {
            'name':'Name',
            'data':['Paul','George','Ringo']
        },
    ]
}

In [10]:
def get_row(df,idx):
    results = []
    value_idx = df['index'].index(idx)
    for col in df['cols']:
        results.append(col['data'][value_idx])
    return results

In [11]:
get_row(df,1)

[0.7, 'George']

In [12]:
# using pandas 
import pandas as pd 
df = pd.DataFrame({
    'growth':[.5,.7,1.2],
    'Name':['Paul','George','Ringo']
})

In [13]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [14]:
df.iloc[2]

growth      1.2
Name      Ringo
Name: 2, dtype: object

In [15]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [16]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

### construction of df can be from 
- columns
- rows
- csv files
- numpy ndarrays
- other SQL , HDF5, arrow etc

In [17]:
# dataframe from columns
pd.DataFrame([
    {'growth':.5,'Name':'Paul'},
    {'growth':.7,'Name':'George'},
    {'growth':1.2,'Name':'Ringo'}
    ])

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [ ]:
# from csv 
from io import StringIO
csv_file = StringIO("""growth, Name