### read_csv

file, sep , header, names , index_col, usecols, dtyes, parse_dates
- add duplicate suffix to columns
- header = None
- header = 0 , skip first row cols = [] , pass the colname

### setting an index 
- parse_dates=True
- usecols , select the columns , saves processing time and memory ( add index also otherwise error)

### select rows 
nrows 
skiprows based on index position, nrows works after skiprows
- skiprows = lambda x:x%2 == 1

### missing values 
- na_values =[".","Missing"] --> NaN

### parsing dates parse_dates=["Date"],
infer_datetime_format=True

### dtype=({"Sales":"Int32"})

In [1]:
import pandas as pd

In [11]:
columns = ["index", "Date", "Oil Price" , "Date2"]
string_slice = lambda x:int(x[-2:])

oil = pd.read_csv("./retail/oil.csv",
                  header = 0,
                # names = columns,
               #  parse_dates=["Date", "Date2"],
                # infer_datetime_format=True
                # index_col = "Date",
                  # dtype ={"index":"Int16"},
                 # converters = {"Date2":string_slice}
                 )
oil.rename(columns={"dcoilwtico": "Oil Price"}, inplace=True)
oil["index"] = oil.index

oil.head()

         date  Oil Price  index
0  2013-01-01        NaN      0
1  2013-01-02      93.14      1
2  2013-01-03      92.97      2
3  2013-01-04      93.12      3
4  2013-01-07      93.20      4

### converters 
currency = lambda x:f"${x}.00"
missing = lambda x:x if x not in ["MISSING","."] else 0

pd.read_csv(
"monthly_sales.csv",
converters={"Sales":missing,
"Sales.1":currency
}
)

### Exercise 1 streamlined transaction

In [23]:
columns = ["Date", "Store_Number", "Transaction_Count" ]
transactions = pd.read_csv(
                          "./retail/transactions.csv",
                          header=0,
                          names=columns, #names = ["Date", "Store_Number", "Transaction_Count" ]
                          skiprows=[0],
                          parse_dates=["Date"],
                          dtype = {"Store_Number":"Int8","Transaction_Count":"Int16"}).assign(
                              target_pct= lambda x:(x["Transaction_Count"]/2500),
                              met_target= lambda x:(x["Transaction_Count"]/2500 >= 1),
                              bonus_payable = lambda x:(x["Transaction_Count"]/2500 >= 1 * 100),
                              month = lambda x:x["Date"].dt.month,
                              day_of_week = lambda x: x["Date"].dt.dayofweek,
                                                    ).astype({"target_pct" :"Float32",
                                                             "month":"Int8",
                                                             "day_of_week":"Int8"}
                                                            )

transactions.head()

,Date,Store_Number,Transaction_Count,target_pct,met_target,bonus_payable,month,day_of_week
0,2013-01-02,1,2111,0.8444,False,False,1,2
1,2013-01-02,2,2358,0.9432,False,False,1,2
2,2013-01-02,3,3487,1.3948,True,False,1,2
3,2013-01-02,4,1922,0.7688,False,False,1,2
4,2013-01-02,5,1903,0.7612,False,False,1,2

In [25]:
transactions.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83487 entries, 0 to 83486
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               83487 non-null  datetime64[ns]
 1   Store_Number       83487 non-null  Int8
 2   Transaction_Count  83487 non-null  Int16
 3   target_pct         83487 non-null  Float32
 4   met_target         83487 non-null  boolean
 5   bonus_payable      83487 non-null  boolean
 6   month              83487 non-null  Int8
 7   day_of_week        83487 non-null  Int8
dtypes: Float32(1), Int16(1), Int8(3), boolean(2), datetime64[ns](1)
memory usage: 2.1 MB

### reading txt files 
pd.read_csv('tab_seperated.txt', sep='\t')
pd.read_excel('monthly_sales.xlsx', sheet_name=1) # 0 index or refer sheet name 
all_cells = pd.concat(pd.read_excel('monthly_sales.xlsx', sheet_name=None),
ignore_index=True
)

### export dataframes 
to_csv() to_excel()

my_df.to_csv("cleaned_data.csv")
my_df.to_csv("cleaned_data.txt, sep=\t")
my_df.to_excel("cleaned_data.xlsx",sheet_name="October_Sales")

with pd.ExcelWriter("cleaned_data.xlsx") as writer:
   my_df.to_excel(writer,sheet_name="October_Sales")
   my_df.to_excel(writer,sheet_name="November_Sales")

In [26]:
transactions.head()

,Date,Store_Number,Transaction_Count,target_pct,met_target,bonus_payable,month,day_of_week
0,2013-01-02,1,2111,0.8444,False,False,1,2
1,2013-01-02,2,2358,0.9432,False,False,1,2
2,2013-01-02,3,3487,1.3948,True,False,1,2
3,2013-01-02,4,1922,0.7688,False,False,1,2
4,2013-01-02,5,1903,0.7612,False,False,1,2

In [30]:
transactions.dtypes

Date                 datetime64[ns]
Store_Number                   Int8
Transaction_Count             Int16
target_pct                  Float32
met_target                  boolean
bonus_payable               boolean
month                          Int8
day_of_week                    Int8
dtype: object

In [32]:
transactions["year"] = transactions["Date"].dt.year

transactions.head()

,Date,Store_Number,Transaction_Count,target_pct,met_target,bonus_payable,month,day_of_week,year
0,2013-01-02,1,2111,0.8444,False,False,1,2,2013
1,2013-01-02,2,2358,0.9432,False,False,1,2,2013
2,2013-01-02,3,3487,1.3948,True,False,1,2,2013
3,2013-01-02,4,1922,0.7688,False,False,1,2,2013
4,2013-01-02,5,1903,0.7612,False,False,1,2,2013

In [41]:
with pd.ExcelWriter("TransactionYear.xlsx") as writer:
    for year in transactions["year"].unique():
        transactions.loc[transactions["Date"].dt.year == year].to_excel(writer,sheet_name=str(year))

In [42]:
for year in transactions["year"].unique():
    transactions.loc[transactions["Date"].dt.year == year].to_csv(
        f"transactions_{year}.csv"
    )

### 
from sqlalchemy import create_engine , inspect

engine = create_engine("sqlite:///../soccer_database.sqllite")
inspect(engine).get_table_names()

# generic database connection string 
dialect+driver://username:password@host:port/database

engine = create_engine("oracle://chris:password@127.0.0.1:1521/sidname")

league_df = pd.read_sql("select * from league", engine)

league_df.head()

query = """
Sample sql """

premier_league_games = pd.read_sql(query, engine)

### write to database
to_sql()

from sqlalchemy.types import Integer

premier_league_games.to_sql(
name="pl_games",
con=engine,
if_exists="append",
index=False,
dtype={"HomeGoals": Integer()}
)
)

pd.read_sql("Select * from pl_games", engine).head()

In [44]:
### from url 
import pandas as pd 

url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_GDP'

gdp_data = pd.read_html(url)[0]

In [45]:
gdp_data.head()

  State or federal district  \
  State or federal district
0                California
1                     Texas
2                  New York
3                   Florida
4                  Illinois

  Nominal GDP at current prices 2024 (millions of U.S. dollars)[1]           \
                                                              2022     2024
0                                            3641643                4080178
1                                            2402137                2694524
2                                            2048403                2284364
3                                            1439065                1695273
4                                            1025667                1132143

  Annual GDP change at current prices (2023–2024)[1]  \
  Annual GDP change at current prices (2023–2024)[1]
0                                             438535
1                                             292387
2                                             235961
3                                             256208
4                                             106476

                                                        \
  Annual GDP change at current prices (2023–2024)[1].1
0                                               5.7%
1                                               6.0%
2                                               5.8%
3                                               9.2%
4                                               5.6%

  Real GDP growth rate (2023–2024)[1] Nominal GDP per capita[1][2]            \
  Real GDP growth rate (2023–2024)[1]                         2022      2024
0                                2.0%                      $93,460  $104,916
1                                7.4%                      $78,750   $86,987
2                                1.5%                     $104,660  $117,332
3                                4.3%                      $63,640   $73,784
4                                1.0%                      $81,730   $90,449

  % of national[1]
              2022    2024
0           14.69%  14.14%
1            8.69%   9.34%
2            8.11%   7.92%
3            5.37%   5.87%
4            4.11%   3.92%

In [46]:
gdp_data = (gdp_data
            .droplevel(level=0, axis=1)
            .drop(index=0)
    
)

In [47]:
gdp_data.head()

,State or federal district,2022,2024,Annual GDP change at current prices (2023–2024)[1],Annual GDP change at current prices (2023–2024)[1].1,Real GDP growth rate (2023–2024)[1],2022,2024,2022,2024
1,Texas,2402137,2694524,292387,6.0%,7.4%,"$78,750","$86,987",8.69%,9.34%
2,New York,2048403,2284364,235961,5.8%,1.5%,"$104,660","$117,332",8.11%,7.92%
3,Florida,1439065,1695273,256208,9.2%,4.3%,"$63,640","$73,784",5.37%,5.87%
4,Illinois,1025667,1132143,106476,5.6%,1.0%,"$81,730","$90,449",4.11%,3.92%
5,Pennsylvania,911813,1017257,105444,6.2%,2.5%,"$70,350","$78,544",3.67%,3.52%

In [53]:
(gdp_data
 .set_index('State or federal district')
 .iloc[:10,0]
# .plot.bar()
)

State or federal district
Texas             2402137
New York          2048403
Florida           1439065
Illinois          1025667
Pennsylvania       911813
Ohio               825990
Georgia            767378
Washington         738101
New Jersey         754948
North Carolina     715968
Name: 2022, dtype: int64